@font-face {
  font-family: Montserrat;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format('truetype'),
       local("Lucida grande");
}

@font-face {
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format('truetype'),
       local("Lucida grande");
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', "Lucida Grande", "Arial", sans-serif;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.svg-fit {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/** HEADER **/
.header {
  background: #fff;
}

.header--elevated {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

.header__content {
  height: 100%;
  padding: 16px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__date {
  margin-left: 16px;
}

.header__time {
  font-weight: bold;
  font-size: 24px;
}

.logo {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
}

.logo__text {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.logo__icon {
  display: block;
  width: 36px;
  height: 36px;
}

/** MAIN **/
.main {
  padding: 40px 0;
  min-height: calc(100vh - 80px - 47px);
}

/** FOOTER **/
.footer {
  display: block;
  height: 56px;
  width: 100%;
}

.footer--black {
  background: #000;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.copyright__inner {
  display: flex;
  align-items: center;
}

.copyright__title {
  color: #fff;
  font-weight: normal;
}

.copyright__icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.copyright__icon svg {
  fill: #fff;
}

.socials__icon {
  display: block;
  width: 20px;
  height: 20px;
  background: #000;
}

.socials__icon svg {
  fill: #fff;
}

.challenger__card {
  margin-bottom: 36px;
}

.challenger__card:last-child {
  margin-bottom: 0;
}

.challengers__title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 36px;
}

.card {
  display: grid;
  grid-template-columns: 885fr 470fr;
  grid-gap: 24px;
}

.card__left {
  position: relative;
  display: grid;
  grid-template-columns: 145fr 256fr 385fr;
  grid-gap: 35px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px 0 0 4px;
  padding: 44px 36px;
}

.card__right {
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 4px 4px 0;
  padding: 44px 36px;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 24px;
  margin-top: unset;
}

.card__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.card__avatar {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card__name {
  margin-bottom: 14px;
}

.card__technology {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.card__statistic {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card__statistic li {
  font-size: 16px;
  line-height: 19.5px;
  margin-bottom: 10px;
}

.card__socials {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000;
  padding: 8px 16px;
  min-width: 125px;
  border-top-left-radius: 6px;
}

.socials {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 20px);
  justify-content: center;
}

.achievements__list {
  display: grid;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(6, 40px);
  grid-template-rows: repeat(3, 40px);
  grid-gap: 8px;
  margin: 0;
}

.achievements__item {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid rgba(113, 189, 86, 0.7);
}

.achievements__item--default {
  filter: grayscale(100%);
}

.achievements__icon {
  display: block;
  width: 20px;
  height: 20px;
}

.card__right .card__title {
  text-align: right;
}

.card__rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.rating {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
}

.rating__star {
  display: inline-flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}

.rating__star--default svg {
  fill: #EEE;
}

.rating__star--filled svg {
  fill: #FFF623;
}

.activity {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 19.85px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.activity__item {
  text-align: center;
}

.activity__title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

.activity__scale {
  display: flex;
  flex-flow: column nowrap;
  max-width: 40px;
  margin: 0 auto;
}

.activity__scale-part {
  width: 100%;
  height: 20px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-top: 0.5px solid #eee;
  border-bottom: 0.5px solid #eee;
  background-color: #fff;
}

.activity__scale-part:nth-child(1) {
  border-radius: 6px 6px 0 0;
  border-top: 1px solid #eee;
}

.activity__scale-part:nth-child(6) {
  border-radius: 0 0 6px 6px;
  border-bottom: 1px solid #eee;
}

.activity__scale--danger .activity__scale-part {
  border-color: #F8DFDF;
}

.activity__scale-part.activity__scale-part--filled:nth-child(1) {
  background: #71BD56;
}

.activity__scale-part.activity__scale-part--filled:nth-child(2) {
  background: rgba(126, 196, 101, 1);
}

.activity__scale-part.activity__scale-part--filled:nth-child(3) {
  background: rgba(126, 196, 101, 0.8);
}

.activity__scale-part.activity__scale-part--filled:nth-child(4) {
  background: rgba(126, 196, 101, 0.6);
}

.activity__scale-part.activity__scale-part--filled:nth-child(5) {
  background: rgba(126, 196, 101, 0.4);
}

.activity__scale-part.activity__scale-part--filled:nth-child(6) {
  background: rgba(126, 196, 101, 0.2);
}

.activity__scale--warning .activity__scale-part.activity__scale-part--filled:nth-child(1) {
  background: rgb(255, 247, 0);
}

.activity__scale--warning .activity__scale-part.activity__scale-part--filled:nth-child(2) {
  background: rgba(255, 246, 35, 1);
}

.activity__scale--warning .activity__scale-part.activity__scale-part--filled:nth-child(3) {
  background: rgba(255, 246, 35, 0.8);
}

.activity__scale--warning .activity__scale-part.activity__scale-part--filled:nth-child(4) {
  background: rgba(255, 246, 35, 0.6);
}

.activity__scale--warning .activity__scale-part.activity__scale-part--filled:nth-child(5) {
  background: rgba(255, 246, 35, 0.4);
}

.activity__scale--warning .activity__scale-part.activity__scale-part--filled:nth-child(6) {
  background: rgba(255, 246, 35, 0.2);
}

.tooltip {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #000;
  color: white;
  font-weight: bold;
  padding: 16px;
  max-width: 240px;
  border-radius: 4px;
  pointer-events: none;
  transition: 0.15s ease-in opacity;
}

.tooltip--hidden {
  opacity: 0;
}

.tooltip--visible {
  opacity: 1;
}

.tooltip__title {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.tooltip__description {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0,0,0, 1);
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

[data-popper] {
  cursor: pointer;
}

.tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}
