@font-face {
  font-family: Montserrat;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format('truetype'),
       local("Lucida grande");
}

@font-face {
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format('truetype'),
       local("Lucida grande");
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', "Lucida Grande", "Arial", sans-serif;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.svg-fit {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/** HEADER **/
.header {
  background: #fff;
}

.header--elevated {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

.header__content {
  height: 100%;
  padding: 16px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__date {
  margin-left: 16px;
}

.header__time {
  font-weight: bold;
  font-size: 24px;
}

.logo {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
  align-items: center;
}

.logo__text {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.logo__icon {
  display: block;
  width: 36px;
  height: 36px;
}

/** MAIN **/
.main {
  padding: 40px 0;
  min-height: calc(100vh - 80px - 47px);
}

/** FOOTER **/
.footer {
  display: block;
  height: 56px;
  width: 100%;
}

.footer--black {
  background: #000;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.copyright__inner {
  display: flex;
  align-items: center;
}

.copyright__title {
  color: #fff;
  font-weight: normal;
}

.copyright__icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.copyright__icon svg {
  fill: #fff;
}

.socials__icon {
  display: block;
  width: 28px;
  height: 28px;
  background: #000;
}

.socials__icon svg {
  fill: #fff;
}

.challenger__card {
  margin-bottom: 36px;
}

.challenger__card:last-child {
  margin-bottom: 0;
}

.challengers__title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 36px;
}

.card {
  display: grid;
  grid-template-columns: 885fr 470fr;
  grid-gap: 24px;
}

.card__left {
  position: relative;
  display: grid;
  grid-template-columns: 145fr 256fr 385fr;
  grid-gap: 35px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px 0 0 4px;
  padding: 44px 36px;
}

.card__right {
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 4px 4px 0;
  padding: 44px 36px;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 24px;
  margin-top: unset;
}

.card__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.card__avatar {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.card__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.secret-achievements {
  position: absolute;
  bottom: 0;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.secret-achievements__item {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgba(206, 56, 126, 0.7);
}

.secret-achievements__item:nth-child(1) {
  bottom: -7px;
  right: 7px;
}

.secret-achievements__item:nth-child(2) {
  bottom: 20px;
  right: -10px;
}

.secret-achievements__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.secret-achievements__full-img {
  width: 140px;
  height: 140px;
  display: block;
  margin: 10px auto;
}

.card__name {
  margin-bottom: 14px;
}

.card__technology {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.card__statistic {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card__statistic li {
  font-size: 16px;
  line-height: 19.5px;
  margin-bottom: 10px;
}

.card__socials {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000;
  padding: 8px 16px;
  min-width: 125px;
  border-top-left-radius: 6px;
}

.socials {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 20px);
  justify-content: center;
}

.achievements__list {
  display: grid;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(6, 40px);
  grid-template-rows: repeat(3, 40px);
  grid-gap: 8px;
  margin: 0;
}

.achievements__item {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.achievements__progress {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
}

.achievements__progress circle {
  stroke-width: 3px;
  fill: none;
}

.achievements__item:not(.achievements__item--completed) .achievements__icon {
  filter: grayscale(100%);
}

.achievements__item .achievements__progress circle {
  stroke: rgba(113, 189, 86, 0.9);
}

.achievements__item .achievements__progress--bg circle {
  stroke: rgb(179, 187, 176);
}

.achievements__item .achievements__progress--overlay {
  transform: rotate(90deg);
}

.achievements__item .achievements__progress--overlay circle {
  transition: 0.3s ease-out all;
  animation-name: achievementsDashOffset;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
  animation-delay: 0.45s;
  animation-timing-function: ease-in;
  stroke: rgb(179, 187, 176);
}

.achievements__icon {
  display: block;
  width: 20px;
  height: 20px;
}

.card__right .card__title {
  text-align: right;
}

.card__rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.rating {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
}

.rating__star {
  display: inline-flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}

.rating__star--default svg {
  fill: #EEE;
}

.rating__star--filled svg {
  fill: #EEE;
  animation-name: starFill;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.rating__star--filled:nth-child(1) svg {
  animation-delay: 0.3s;
}

.rating__star--filled:nth-child(2) svg {
  animation-delay: 0.45s;
}

.rating__star--filled:nth-child(3) svg {
  animation-delay: 0.60s;
}

.rating__star--filled:nth-child(4) svg {
  animation-delay: 0.75s;
}

.rating__star--filled:nth-child(5) svg {
  animation-delay: 0.90s;
}

.activity {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 19.85px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.activity__item {
  text-align: center;
}

.activity__title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

.activity__scale {
  display: flex;
  flex-flow: column nowrap;
  max-width: 40px;
  margin: 0 auto;
}

.activity__scale-part {
  width: 100%;
  height: 20px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-top: 0.5px solid #eee;
  border-bottom: 0.5px solid #eee;
  background-color: #fff;
  transition: 0.1s linear box-shadow;

  animation-timing-function: steps(6);
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

.activity__scale:hover .activity__scale-part {
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.activity__scale-part:nth-child(1) {
  border-radius: 6px 6px 0 0;
  border-top: 1px solid #eee;
}

.activity__scale-part:nth-child(6) {
  border-radius: 0 0 6px 6px;
  border-bottom: 1px solid #eee;
}

.activity__scale--danger .activity__scale-part {
  border-color: #F8DFDF;
}

@keyframes scalePartWarning6 {
  from { background: transparent }
  to { background: rgba(255, 246, 35, 0.2); }
}

.activity__scale-part:nth-child(1) {
  animation-delay: 0.35s;
}

.activity__scale-part:nth-child(2) {
  animation-delay: 0.28s;
}

.activity__scale-part:nth-child(3) {
  animation-delay: 0.21s;
}

.activity__scale-part:nth-child(4) {
  animation-delay: 0.14s;
}

.activity__scale-part:nth-child(5) {
  animation-delay: 0.07s;
}

.activity__scale-part:nth-child(6) {
  animation-delay: 0s;
}

.activity__scale-part.activity__scale-part--filled:nth-child(1) {
  animation-name: scalePart1;
}

.activity__scale-part.activity__scale-part--filled:nth-child(2) {
  animation-name: scalePart2;
}

.activity__scale-part.activity__scale-part--filled:nth-child(3) {
  animation-name: scalePart3;
}

.activity__scale-part.activity__scale-part--filled:nth-child(4) {
  animation-name: scalePart4;
}

.activity__scale-part.activity__scale-part--filled:nth-child(5) {
  animation-name: scalePart5;
}

.activity__scale-part.activity__scale-part--filled:nth-child(6) {
  animation-name: scalePart6;
}

.activity__scale--warning .activity__scale-part.activity__scale-part--filled:nth-child(1) {
  animation-name: scalePartWarning1;
}

.activity__scale--warning .activity__scale-part.activity__scale-part--filled:nth-child(2) {
  animation-name: scalePartWarning2;
}

.activity__scale--warning .activity__scale-part.activity__scale-part--filled:nth-child(3) {
  animation-name: scalePartWarning3;
}

.activity__scale--warning .activity__scale-part.activity__scale-part--filled:nth-child(4) {
  animation-name: scalePartWarning4;
}

.activity__scale--warning .activity__scale-part.activity__scale-part--filled:nth-child(5) {
  animation-name: scalePartWarning5;
}

.activity__scale--warning .activity__scale-part.activity__scale-part--filled:nth-child(6) {
  animation-name: scalePartWarning6;
}

.tooltip {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #000;
  color: white;
  font-weight: bold;
  padding: 16px;
  max-width: 240px;
  border-radius: 4px;
  pointer-events: none;
  transition: 0.15s ease-in opacity;
}

.tooltip--hidden {
  opacity: 0;
}

.tooltip--visible {
  opacity: 1;
}

.tooltip__title {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.tooltip__description {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0,0,0, 1);
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

[data-popper] {
  cursor: pointer;
}

.tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

@media (min-width: 0px) and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .main {
    padding: 20px 0;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .logo__text {
    font-size: 14px;
  }

  .header__date {
    margin-left: 8px
  }

  .header__time {
    font-size: 12px;
    white-space: nowrap;
  }

  .challengers__title {
    display: none;
  }

  .activity__title {
    font-size: 12px;
  }

  .card {
    grid-template-columns: 1fr;
    grid-gap: 0;
    box-shadow: 0 0 4px rgb(0 0 0 / 10%);
  }

  .card__name {
    font-size: 14px;
  }

  .card__left {
    padding: 60px 15px 20px;
    grid-template-columns: 1.2fr 2fr;
    grid-gap: 18px;
    position: relative;
  }

  .card__stats {
    text-align: right;
  }

  .card__left::before, .card__left::after {
    content: '';
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: #eee;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .card__left::before {
    top: 40px;
  }

  .card__left::after {
    bottom: 0;
  }

  .card__right {
    padding: 20px 15px 30px;
  }

  .card__left, .card__right {
    box-shadow: none;
  }

  .card__achievements {
    display: none;
  }

  .card__socials {
    bottom: unset;
    top: 0;
    padding: 10px 4px;
    min-width: 75px;
    border-top-right-radius: 6px;
    border-top-left-radius: unset;
  }

  .socials {
    grid-gap: 8px;
  }

  .socials__icon {
    width: 20px;
    height: 20px;
  }

  .card__avatar {
    height: 130px;
  }

  .card__avatar-img {
    border-radius: 5px;
  }

  .card__name {
    position: absolute;
    left: 44px;
    top: -3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
  }

  .card__title {
    font-size: 16px;
    margin-bottom: 14px;
  }

  .card__rating {
    align-items: center;
    margin-bottom: 20px;
  }

  .card__rating .card__title {
    margin-bottom: 0;
  }

  .card__statistic li {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .card__technology {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 10px;
  }

  .activity {
    grid-gap: 13px;
  }

  .activity__scale-part {
    height: 14px;
  }
}

@keyframes scalePart1 {
  from { background: transparent }
  to { background: #71BD56; }
}

@keyframes scalePart2 {
  from { background: transparent }
  to { background: rgba(126, 196, 101, 1); }
}

@keyframes scalePart3 {
  from { background: transparent }
  to { background: rgba(126, 196, 101, 0.8); }
}

@keyframes scalePart4 {
  from { background: transparent }
  to { background: rgba(126, 196, 101, 0.6); }
}

@keyframes scalePart5 {
  from { background: transparent }
  to { background: rgba(126, 196, 101, 0.4); }
}

@keyframes scalePart6 {
  from { background: transparent }
  to { background: rgba(126, 196, 101, 0.2); }
}

@keyframes scalePartWarning1 {
  from { background: transparent }
  to { background: rgb(255, 247, 0); }
}

@keyframes scalePartWarning2 {
  from { background: transparent }
  to { background: rgba(255, 246, 35, 1); }
}

@keyframes scalePartWarning3 {
  from { background: transparent }
  to { background: rgba(255, 246, 35, 0.8); }
}

@keyframes scalePartWarning4 {
  from { background: transparent }
  to { background: rgba(255, 246, 35, 0.6); }
}

@keyframes scalePartWarning5 {
  from { background: transparent }
  to { background: rgba(255, 246, 35, 0.4); }
}

@keyframes starFill {
  0% { fill: #EEE; }
  1% { fill: #EEE; }
  100% { fill: #FFF623; }
}

@keyframes achievementsDashOffset {
  0% { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: -113; }
}
